<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Login Form</title>
</head>

<body>
    <div class="container" style="margin-top:60px;">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="card">
                    <d iv class="card-header"> 
                        <form action="" method="POST">
                            <div class="row">
                                <div class="col-md-5"></div>
                                <div class="col-md-7">                                  
                                    <h1 style="color: dodgerblue;">Login</h1>
                                </div>
                            </div>

                            <div>
                                <input type="text" class="form-control" id="name" name="username" value=""
                                    placeholder="Tài khoản">
                            </div>
                            <div style="margin-top: 20px;">
                                <input type="password" class="form-control" id="password" name="password" value=""
                                    placeholder="Mật khẩu">
                            </div>
                            <div style="margin-top: 20px;">
                                {{#each errors}}
                                    <span style="color: red;">
                                        {{this}}
                                    </span>
                                {{/each}}
                            </div>
                            <div style="margin-top: 20px; margin-bottom: 30px">
                                <div class="row">
                                    <div class="col-md-5"></div>
                                        <div class="col-md-7">
                                            <button type="submit" value="submit" class="btn_3">
                                                Đăng nhập
                                            </button>
                                        </div>                                  
                                    </div>
                                </div>
                            </div>
                        </form>
    
                </divstyle="margin-top:>
            </div>
        </div>
    </div>
</body>
</html>