.container-full {
    box-sizing: border-box;
  }
  
  body {
    background-color: #ddd;
  }
  
  .title-form{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  
  .btn-sign{
    min-width: 150px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 16px;
  }
  